<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

	
	<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE" />
		<property name="username" value="PRMSadmin" />
		<property name="password" value="pass" />
		
	</bean>

	<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds"/>
	</bean>
	
	
	<bean id="resource" class="dao.Resources">
		<property name="resourceId" value ="2001" />
		<property name="resourceName" value ="Kevin Room" />
		<property name="resourceDescription" value ="Test" />
		<property name="resourceRoomNumber" value ="10000" />
		<property name="resourceTypeId" value ="1001" />
		<property name="locationId" value ="100001" />
		<property name="isAvailable" value ="1" />
	</bean>
<!-- 	<bean id="address" class="pkg.Address">
			<constructor-arg index="0" value ="Random ave" />
			<constructor-arg index="1" value ="Phoenix" />
			<constructor-arg index="2" value ="34343244" />
		
	</bean>

	<bean id="bank" class="pkg.MyBank" >
		<property name="accNo" value="909"/>
		<property name="accBalance" value="20000.00"/>
		<property name="accAddress" ref="address"/>
		<property name="accPin" value="1234"/>
		<property name="accName" value="Good"/>
		
		<property name="nominees">
		<list>
			<value>Samantha</value>
			<value>Sam</value>
			<value>John</value>
			<value>Raj</value>
		</list>

		</property>
	</bean> -->
	

</beans>