html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
   	background:lightgrey;
	
}

.modal-header{
	color:white;
}

.container{
	height:100%;
}

.panel,.panel-body, .row,.col-lg-8,.col-lg-4{
	height:90%;

}
.col-lg-8{
	padding:2px;
}

.col-lg-4{
	padding:2px;
}

.fc-event{
	font-size:1vw !important;	
}

#allPage {
	height: 100%;
	width: 90%;
	background:	url("/Phoenix_Resource_Management_System/resources/images/green.jpg");
	
}
.row, .rows{
	width:100%;
}

#book-logo {
	height: 150px;
	width: 266px;
}

/*increase height of the navbar*/
.navbar-brand,
.navbar-nav li a {
    	line-height: 150px;
  	  	height: 150px;
    	padding-top: 0;
	}

#syntel-logo {
	margin-top:50px;
	height: 75px;
	width: 317px;
}

iframe{
	height:100%;
	width: 100%;	
}

h1 {
	font-size: calc(15px + 1vw);
}

.panel {
	text-align: center;
}

.navbar {
	border-radius: 5px;
	background-color:white;
}

ul li{
	font-size:24px;
}

.input-group {
	padding: 5px;
}

@media only screen and (max-width: 1366px) {

	

	
	#book-logo {
		height: 75px;
		width: 133px;
	}
	
	/*increase height of the navbar*/
	.navbar-brand,
	.navbar-nav li a {
    	line-height: 80px;
  	  	height: 80px;
    	padding-top: 0;
	}
	
	.panel .panel-body{
		height:510px;
	}
	
		
	iframe{
		height:100%;
		width: 100%;	
	}
	
	
	.container{
		height:100%;
	}

	.panel,.panel-body, .row,.col-lg-8,.col-lg-4{
		height:100%;
	}
	
	#allPage {
		height: 100%;
		width: 90%;
	}
	
	ul li{
		font-size:20px;
	}
	
	#syntel-logo {
		margin:15px;
		height: 50px;
		width: 211px;
	}
}