html, body {
	width: 100%;
	height: 100%;
}

#allPage {
	background-color: #C2E7DA;
	height: 100%;
	width: 80%;
}

#book-logo {
	height: 150px;
	width: 266px;
}

#syntel-logo {
	margin-top:50px;
	height: 75px;
	width: 317px;
}

iframe{
	height:100%;
	width: 100%;	
}

h1 {
	font-size: calc(15px + 1vw);
}

.panel {
	background-color: #ffff80;
	text-align: center;
}

.navbar {
	background-color: #C2E7DA;
	border-radius: 5px;
}

ul li{
	font-size:24px;
}

.input-group {
	padding: 5px;
}

@media only screen and (max-width: 1366px) {
	#book-logo {
		height: 75px;
		width: 133px;
	}
	
	/*increase height of the navbar*/
	.navbar-brand,
	.navbar-nav li a {
    	line-height: 80px;
  	  	height: 80px;
    	padding-top: 0;
	}
	
	.panel .panel-body{
		height:530px;
	}
	
		
	iframe{
		height:100%;
		width: 100%;	
	}

	#allPage {
		background-color: #C2E7DA;
		height: 100%;
		width: 90%;
	}
	
	ul li{
		font-size:20px;
	}
	
	#syntel-logo {
		margin:15px;
		height: 50px;
		width: 211px;
	}
}