
.wrimagecard{	
	margin-top: 0;
    margin-bottom: 1.5rem;
    padding:0;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;  
}

h4.filterResourceName{
	font-size:4vw;
	padding:0 0 5px 0;
	margin:0;
	
}
.wrimagecard .fa{
	position: relative;
    font-size: 30px;
}

.wrimagecard-topimage_header{
    text-align:center;
	padding: 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    display: block;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}
