.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right:45px;
    bottom:35px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.featureImg{
	margin-top:0;
	width:15px;
	height:15px;
}

.roomImg{
	margin-top: 0px;
	width: 40px;
	height: 40px;
}

table,tr{
	width:100px;
	min-width:75px;
}

table,td{
	text-align: center;
	border: 1px solid black;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.wrimagecard{	
	margin-top: 0;
    margin-bottom: 1.5rem;
    padding:0;
    min-width:120px;
    min-height:130px;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    border:2px solid;
    transition: all 0.3s ease;  
}

.wrimagecardInactive{
	margin-top: 0;
    margin-bottom: 1.5rem;
    padding:0;
    
    min-width:120px;
    min-height:130px;
    
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    border:2px solid;
    border-color : gray;
    filter: drop-shadow(0 0 .4rem blue);
    transition: all 0.3s ease; 
}

.wrimagecardSuper{
	margin-top: 0;
    margin-bottom: 1.5rem;
    padding:0;
    min-width:120px;
    min-height:130px;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    border:2px solid;
	filter: drop-shadow(0 0 .4rem red);
    transition: all 0.3s ease; 
}

.wrimagecardInactiveSuper{
	margin-top: 0;
    margin-bottom: 1.5rem;
    padding:0;
    min-width:120px;
    min-height:130px; 
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    border:2px solid;
    border-color:gray;
	filter: drop-shadow(0 0 .4rem blue);
    transition: all 0.3s ease; 
}

h4.filterResourceName{
	font-size:3.9vw;
	padding:0 0 5px 0;
	margin:0;
}

.fa{
	position: relative;
    font-size: 30px;
}


.wrimagecardInactive .roomImage{
	filter:blur(1px);
}

.wrimagecard-topimage_header{
    text-align:center;
	padding: 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    display: block;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

/************************ TOOLTIP STUFF ************************/
.thetooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.thetooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 2;
    top: 80%;
}


/* Show the tooltip text when you mouse over the tooltip container */
.thetooltip:hover .tooltiptext {
    visibility: visible;
}

