		
body{
	background-image: url("../resources/images/logo.png");
	
}		
header{
	margin-top: 2%;
	margin-bottom: 7%;
}
section{
	margin-top: 2%;
}
		
#title{
	margin-bottom: 2%;
}

section{
	
	margin-top: 10%;
}

#fa_left_btn{
	
	background-color: white;
	color:#e85200;
}

#fa_right_btn{
	
	background-color: white;
	color:#004837;
}