@charset "ISO-8859-1";
@import url("visitors.css");

body{
	min-height: 100%;
	background-image: url("../images/checkin_img.png");
	background-size: 100% auto/*cover 100% auto*/;
	background-repeat: no-repeat;
	background-position: center /*bottom 10%*/;
}

.section_content{
	margin: auto;
	margin-bottom: 5%;
}
		
.section_block{
	max-width: 50%;
	min-height: 100%;
}

.btn_string{
	padding-left: 5%;
	font-size: 50%;
}

#checkin_btn{
	background-color: #004837;
	color: white /*#e85200*/;
}

 #checkout_btn{
	background-color: #e85200;
	color: white/*#004837*/;
}
		
.main_btn{
	min-height: 100px;
}
		