table{
	 cellspacing=6;
	 cellpadding=6;
	 background-color:#206040; 
	 border:thick;
	 border-color:#d6d6c2;
	 border-style:solid;
	 border-radius:5px;
	 
}	

td{
	background-color:#ffebcc; 
	text-align: center;
	
}

th{
	color:white;
	text-align: center;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.checkout-container {
	padding-left:150px;
	padding-bottom:150px;
	padding-right:150px;
	padding-top:75px;
}