body {
			background-size:contain;
	     background-image: url("resources/images/bg_phx.png");
	     background-repeat: no-repeat;
	     background-position: bottom center;
 } 
		
#checkout_btn{
            background-color: #e85200;
            color:#004837;
        }
.btn_string{
            padding-left: 5%;
            font-size: 30%;
        }
        
.checkout-container {
	padding-left:150px;
	padding-bottom:150px;
	padding-right:150px;
	padding-top:75px;
}