		body{
			
			background-image: url("../images/checkin_index.png");
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: center botton;
		}
		.section_content{
			margin: auto;
			margin-bottom: 5%;
			
		}
		
		.ml15{
		}
		section{
			padding-top: 10%;
		}
		.section_block{
			max-width: 50%;
			min-height: 100%;
			
		}
		header{
			
			 background-color: rgba(255, 255, 255, 0);
		}
		.welcome, .to, .logo{
			margin-right: 2%;
		}
		
		.btn_string{
			padding-left: 5%;
			font-size: 50%;
		}

		#checkout_btn{
			background-color: #004837;
			color: white /*#e85200*/;
		}
	    #checkin_btn{
	    	background-color: #e85200;
			color: white/*#004837*/;
		}
		
	
		.main_btn{
			min-height: 100px;
		}