html {
	height: 100%;
}

body {
	min-height: 100%;
	background-image: url("../images/checkin_index.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
}

.section_content {
	margin: auto;
	margin-bottom: 5%;
}

section {
	margin-top: 10%;
	margin-bottom: 10%;
}

.container.section_block {
	max-width: 70%;
	min-height: 100%;
	margin-top: 5%;
}

header {
	background-color: rgba(255, 255, 255, 0);
	margin-top: 2%;
	margin-bottom: 7%;
}

.welcome, .to {
	margin-right: 2%;
}

.btn_string {
	padding-left: 5%;
	font-size: 50%;
}

#checkout_btn {
	background-color: #e85200;
	color: white /*#e85200*/;
}

#checkin_btn {
	background-color: #004837;
	color: white /*#004837*/;
}

.main_btn {
	min-height: 100px;
}

.message-text {
	font-weight: bold;
	font-size: 75px;
	color: #004837;
}

h3 {
	font-weight: bold;
	font-size: 30px;
	color: #004837;
	margin-top: 10px;
	margin-bottom: 10px;
}

.visitor-name {
	font-weight: bold;
	font-size: 80px;
	color: #e85200;
}

.word {
	font-size: 55px;
	color: #004837;
	font-weight: bold;
}

img {
	width: 20%;
}

table {
	background-color: #206040;
	border: thick;
	border-color: #004837;
	border-style: solid;
	border-radius: 5px;
}

td {
	background-color: #c0c0c0;
	text-align: center;
	color: #000000;
	font-size:20px;
}

tr{
	height: 100px;
}

th {
	color: #ffffff;
	background-color: #004837;
	text-align: center;
	font-size:25px;
}

.checkout-container {
	padding-left: 150px;
	padding-bottom: 150px;
	padding-right: 150px;
	padding-top: 75px;
}

#fa_left_btn {
	background-color: white;
	color: #e85200;
	width: 8%;
}

#fa_right_btn {
	background-color: white;
	color: #004837;
	width: 8%;
}

form {
	background-color: white;
	padding: 2%;
	border-style: solid;
	border-color: #004837;
	border-radius: 5px;
}

input {
	border-radius: 5px;
}

#title {
	margin-bottom: 2%;
}

.btn-success {
	border-color: #004837;
}

.form-control {
	border-color: #e85200;
	font-size: 225%;
	text-align: center;
}

.home-form {
	background-color: transparent;
	padding: 2%;
	border-style: none;
	border-color: none;
	border-radius: 0px;
}

.nav {
	margin-top: 0%;
	width: 80%;
	margin: auto;
}

.container {
	margin-top: 2%;
	width: 80%;
	padding: 0%;
}

.admin-button{
	background-color: transparent;
	padding: 0%;
	border-style: none;
	height: 100%;
	width: 100%;
}

.admin-btn{
	background-color: #e85200;
	color: white;
	width:100%;
	height: 100%;
}